In [2]:
import pandas as pd 
import os
import time

In [3]:
start_time = time.time()

schema = ['uid','song_id','date']
df1 = pd.read_csv('data/training/0330_0421_play_short.log',delimiter='\t',header=None,index_col=None,names=schema)

print("load data time is :", time.time() - start_time)

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

('load data time is :', 48.16499996185303)

In [4]:
df1.head()

           uid      song_id      date
0  168550892.0  2.34917e+07  20170330
1  168540455.0       298250  20170330
2  168551247.0  1.18814e+07  20170330
3  168549788.0       295469  20170330
4  168551248.0  2.13934e+07  20170330

In [16]:
start_time = time.time()

res = df1.groupby(['uid','date'],as_index=False).count().rename(columns={'song_id': 'count'})
print("Edit data time is :", time.time() - start_time)

('Edit data time is :', 84.65199995040894)

In [17]:
res.head()

   uid      date  count
0  0.0  20170330   3221
1  0.0  20170331  10568
2  0.0  20170401  16194
3  0.0  20170402  20332
4  0.0  20170403  10990

In [9]:
start_time = time.time()

schema = ['uid','song_id','date']
df2 = pd.read_csv('data/testing/0422_0512_play_short.log',delimiter='\t',header=None,index_col=None,names=schema)

print("load data time is :", time.time() - start_time)

('load data time is :', 29.556999921798706)

In [10]:
len(df2)

56753407

In [18]:
start_time = time.time()

res2 = df2.groupby(['uid','date'],as_index=False).count().rename(columns={'song_id': 'count'})
print("Edit data time is :", time.time() - start_time)

('Edit data time is :', 76.23000001907349)

In [19]:
res2.head()

   uid      date  count
0  0.0  20170422  34257
1  0.0  20170423  35053
2  0.0  20170424  15970
3  0.0  20170425  30556
4  0.0  20170426  27180

In [20]:
len(res2)

1598618

In [21]:
import pickle

In [23]:
pickle.dump(res,open('0330_0421_res.p',"wb"))
pickle.dump(res2,open('0422_0512_res.p',"wb"))

In [24]:
ped1 = pickle.load(open('0330_0421_res.p','rb'))

In [25]:
ped2 = pickle.load(open('0422_0512_res.p','rb'))

In [26]:
print len(ped1)
print len(ped2)

2768731
1598618

In [27]:
df = []
df2 = []

In [35]:
def cleanData(res):
    res = res.drop(res[res.uid == 0.0].index)
    res.dropna(axis = 0 , how = 'any')
    res = res.dropna(subset=['date'])
    res['date'] = res['date'].apply(lambda x: x.strip())
    res['date'] = res['date'].apply(lambda x : x if len(x) == 8 else 'nan')
    res = res.drop(res[res.date == 'nan'].index)
    return res

In [39]:
ped1['date'] = ped1['date'].apply(str)

In [40]:
print type(ped1.date[0])

<type 'str'>

In [41]:
newped1 = cleanData(ped1)
start_time = time.time()
newped1 = ped1[['uid','count']].groupby('uid',as_index=False).count()
print("Edit data time is :", time.time() - start_time)

('Edit data time is :', 0.7699999809265137)

In [42]:
newped1 = newped1.sort_values(['count'], ascending=[1])
finalped1 = newped1[len(newped1[newped1['count'] <= 3]):]

In [43]:
finalped1.head()

                uid  count
495912  168916454.0      4
240807  168379107.0      4
352695  168644128.0      4
484693  168895499.0      4
41940   167669918.0      4

In [46]:
ped2['date'] = ped2['date'].apply(str)
newped2 = cleanData(ped2)
start_time = time.time()
newped2 = newped2[['uid','count']].groupby('uid',as_index=False).count()
print("Edit data time is :", time.time() - start_time)

('Edit data time is :', 0.21900010108947754)

In [48]:
newped2 = newped2.sort_values(['count'], ascending=[1])
finalped2 = newped2[len(newped2[newped2['count'] <= 3]):]

In [49]:
finalped2.head()

                uid  count
59188   167893845.0      4
264682  169008032.0      4
264491  169007169.0      4
58697   167891431.0      4
174037  168500078.0      4

In [50]:
print len(finalped1)
print len(finalped2)

244287
145434

In [51]:
activeuser = len(finalped1)
print 'active user in the first month is: ', activeuser

active user in the first month is:  244287

In [52]:
activeuser2 = len(finalped2)
print 'active user in the second month is: ', activeuser2

active user in the second month is:  145434

In [53]:
seta = set(finalped1['uid'])

In [54]:
setb = set(finalped2['uid'])

In [55]:
churn_user_list = list(seta-setb)

In [56]:
len(churn_user_list)

120644

In [57]:
activeuser

244287

In [59]:
churn = open('churn_user_idlist.txt', 'w')
for item in churn_user_list:
  churn.write("%s\n" % item)
churn.close()